name: build
on:
  workflow_call:
    inputs:
      matrix:
        required: true
        type: string
    secrets:
      UNITY_USERNAME:
        required: true
      UNITY_PASSWORD:
        required: true
jobs:
  build:
    name: ${{ matrix.name }}
    strategy:
      matrix: ${{ fromJSON(inputs.matrix) }}
      fail-fast: false
    runs-on: ${{ matrix.os }}
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v6

      - uses: RageAgainstThePixel/unity-setup@v2
        id: unity-setup
        with:
          unity-version: ${{ matrix.unity-version }}
          build-targets: ${{ matrix.build-target }}

      - uses: RageAgainstThePixel/activate-unity-license@v2
        with:
          license: personal
          username: ${{ secrets.UNITY_USERNAME }}
          password: ${{ secrets.UNITY_PASSWORD }}

      - uses: RageAgainstThePixel/unity-action@v3
        name: ${{ matrix.build-target }}-Validate
        with:
          build-target: ${{ matrix.build-target }}
          project-path: ${{ steps.unity-setup.outputs.unity-project-path }}
          log-name: ${{ matrix.build-target }}-Validate
          args: -quit -nographics -batchmode -executeMethod Utilities.Editor.BuildPipeline.UnityPlayerBuildTools.ValidateProject -importTMProEssentialsAsset

      - uses: RageAgainstThePixel/unity-action@v3
        name: ${{ matrix.build-target }}-Build
        with:
          build-target: ${{ matrix.build-target }}
          project-path: ${{ steps.unity-setup.outputs.unity-project-path }}
          log-name: ${{ matrix.build-target }}-Build
          args: -quit -nographics -batchmode -executeMethod Utilities.Editor.BuildPipeline.UnityPlayerBuildTools.StartCommandLineBuild ${{ matrix.build-args }}

      - name: Validate Text Mesh Pro Resources
        shell: bash
        run: |
          # Only run for Unity versions that are not 6000.x
          UNITY_MAJOR_VERSION=$(echo "${{ matrix.unity-version }}" | cut -d'.' -f1)
          if [ "$UNITY_MAJOR_VERSION" = "6000" ]; then
            echo "Skipping Text Mesh Pro Resources validation for Unity 6000.x versions."
            exit 0
          fi
          # Validate Text Mesh Pro Resources
          TMPRO_PATH="${{ steps.unity-setup.outputs.unity-project-path }}/Assets/TextMesh Pro"
          if [ -d "$TMPRO_PATH" ]; then
            echo "Text Mesh Pro Resources found at $TMPRO_PATH"
          else
            echo "Text Mesh Pro Resources not found at $TMPRO_PATH"
            # list the top level folders in the Assets directory
            ls -al "${{ steps.unity-setup.outputs.unity-project-path }}/Assets"
            exit 1
          fi

      - uses: actions/upload-artifact@v6
        if: failure()
        with:
          name: ${{ github.run_number }}.${{ github.run_attempt }} ${{ matrix.os }} ${{ matrix.unity-version }} ${{ matrix.build-target }} Artifacts
          path: ${{ github.workspace }}/**/*.log
