name: unity-build-validation

on:
  schedule:
    - cron: '0 0 * * 0' # Every Sunday at midnight
  push:
    branches:
      - 'main'
  pull_request:
    branches:
      - '*'
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ ( github.event_name == 'pull_request' || github.event.action == 'synchronize' ) }}
jobs:
  build:
    env:
      UNITY_PROJECT_PATH: ''
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-13]
        unity-versions: [2019.x, 2020.x, 2021.x, 2022.x, 6000.x]
        include: # for each os specify the build targets
          - os: ubuntu-latest
            build-target: Android
          - os: windows-latest
            build-target: Android
          # - os: macos-latest
          #   build-target: Android
          - os: macos-13
            build-target: Android
    steps:
      - uses: actions/checkout@v4
        with:
          clean: true
        # Installs the Unity Editor based on your project version text file
        # sets -> env.UNITY_EDITOR_PATH
        # sets -> env.UNITY_PROJECT_PATH
      - uses: RageAgainstThePixel/unity-setup@v1
        with:
          unity-version: ${{ matrix.unity-versions }}
          build-targets: ${{ matrix.build-target }}

        # Activates the installation with the provided credentials
      - uses: RageAgainstThePixel/activate-unity-license@v1
        with:
          license: 'Personal' # Choose license type to use [ Personal, Professional ]
          username: ${{ secrets.UNITY_USERNAME }}
          password: ${{ secrets.UNITY_PASSWORD }}
          # serial: ${{ secrets.UNITY_SERIAL }} # Required for pro activations

      - name: Unity Build (${{ matrix.build-target }})
        uses: RageAgainstThePixel/unity-build@main
        with:
          build-target: ${{ matrix.build-target }}
          output-directory: ${{ github.workspace }}/Artifacts/${{ matrix.build-target }}
          additional-validation-args: -importTMProEssentialsAsset
          additional-build-args: -export
          publish-artifacts: true
          artifact-name: '${{ github.run_number }}.${{ github.run_attempt }}-${{ matrix.os }}-${{ matrix.unity-versions }}-${{ matrix.build-target }}-Artifacts'
          test: false

      - name: Validate Text Mesh Pro Resources
        if: ${{ matrix.unity-versions != '6000.0.13f1 (53a692e3fca9)' }}
        run: |
          # Validate Text Mesh Pro Resources
          $TMPRO_PATH = "$env:UNITY_PROJECT_PATH/Assets/TextMesh Pro"
          if (Test-Path $TMPRO_PATH) {
            Write-Host "Text Mesh Pro Resources found at $TMPRO_PATH"
          } else {
            Write-Host "Text Mesh Pro Resources not found at $TMPRO_PATH"
            # list the folders in the Assets directory
            Get-ChildItem -Path $env:UNITY_PROJECT_PATH/Assets -Directory | Select-Object Name | Format-Table -AutoSize
            exit 1
          }
        shell: pwsh
