name: validate
on:
  schedule:
    - cron: '0 0 * * 0' # Every Sunday at midnight
  push:
    branches: [main]
  pull_request:
    types: [opened, reopened, synchronize, ready_for_review]
    branches: ['**']
  workflow_dispatch: # manual workflow trigger
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{(github.event_name == 'pull_request' || github.event.action == 'synchronize')}}
jobs:
  setup:
    runs-on: ubuntu-latest
    if: github.event.pull_request.draft == false
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v4
        with:
          sparse-checkout: .github/
      - uses: RageAgainstThePixel/job-builder@v1
        id: setup-jobs
        with:
          build-options: ./.github/workflows/build-options.json
          group-by: 'unity-version'
    outputs:
      jobs: ${{ steps.setup-jobs.outputs.jobs }}
  validate:
    if: ${{ needs.setup.outputs.jobs }}
    needs: setup
    name: build ${{ matrix.jobs.name }}
    permissions:
      contents: read
    strategy:
      matrix: ${{ fromJSON(needs.setup.outputs.jobs) }}
      fail-fast: false
      max-parallel: 1
    secrets: inherit
    uses: ./.github/workflows/build.yml
    with:
      matrix: ${{ toJSON(matrix.jobs.matrix) }}
